# Server
MONGODB_URI="mongodb://localhost:27017"
PORT=3030

# Sessions
SESSION_SECRET="watermelon"
COOKIE_SECURE="false"
COOKIE_MAX_AGE=604800000

# Development
SERVER_PORT=8080
REACT_APP_SERVER_URL="http://localhost:8080" # Note: no / at the end