@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* -webkit-text-size-adjust: 100%; */
}
